venv
venv_dev
venv_prod
*.egg-info
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
math_genealogy/scrapers/.scrapy
math_genealogy/scrapers/data
.vscode